body {
    margin:0px;
    background-color: black;
}

#topbarContainer {
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
    height:10px;
    transform: all .5s ease;
}

#topbarContainer #topbar {
    width: 100%;
    height: 0px;
    transform: all .5s ease;
    background-color: white;
}

#topbarContainer:hover #topbar {
    transform: all .5s ease;
    height: 200px;
}

#titlebtns {
    right: 0px;
    display: grid;
    grid-template-columns: 20px 20px 20px;
}



#content {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

#info {
    color: greenyellow;
    text-shadow: 1px;
}

#currentImg {
    position: fixed;
    z-index: 1;
    top: 0px;
    max-width: 100%;
}