body {
    cursor: auto;
    -webkit-user-select: none;
    margin:0px;
    background-color: black;
    overflow: hidden;
}

#topbarContainer {
    position: fixed;
    overflow: hidden;
    top: 0px;
    width: 100%;
    height:20px;
    transition: all .5s ease;
}

#topbarContainer #topbar {
    overflow:hidden;
    width: 100%;
    height: 0px;
    background-color: white;
}

#topbarContainer:hover {
    height: 200px;
}

#topbarContainer:hover #topbar {
    transition: all .5s ease;
    height: 200px;
}

#title {
    cursor: pointer;
}

#title:hover {
    background-color: #dddddd;
}

#titlebar {
    z-index: 4;
    display: grid;
    grid-template-columns: auto 50px 30px 30px 30px;
    height: 20px;
    overflow: hidden;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

#titlebar div {
    padding-left: 10px;
    padding-right: 5px;
}

#minBtn:hover {
    background-color: #dddddd;
}

#maxBtn:hover {
    background-color: #dddddd;
}

#closeBtn:hover {
    background-color: #ff2222;
}

#topbarLoad {
    width: 100%;
    height: 180px;
}

#imageview {
    width: 100%;
}

#imageviewLoad {
    width: 100%;
    height: inherit;
}